<!DOCTYPE html>
<html>
<head>
  <title>Blueprint</title>
  <%= stylesheet_link_tag    'version_one', media: 'all' %>
  <%= javascript_include_tag 'version_one' %>
  <%= csrf_meta_tags %>
</head>
<%= yield %>
</html>
